.ib-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px rgb(229 229 229) solid;
  border-radius: 15px;
  overflow: hidden;
}

.ib-content.opened {
  clip-path: url(#ib-content-clip);
  background: #daeaf6;
  border: none;
  margin: 60px;
}

.ib-user-info {
  height: 40px;
  transition: all 0.5s;
  overflow: hidden;
  opacity: 1;
}

.ib-user-info.opened {
  height: 60px;
}

.ib-close-btn {
  height: 30px;
  margin: 0 12px;
  background: unset;
  border: none;
}

.ib-content-bkg {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: calc(100% - 30px);
  transition: all 0.4s;
  border-radius: 10px;
}

.ib-content-bkg.opened {
  top: 50px;
  height: calc(100% - 60px);
}

.ib-content-bkg #p1 {
  fill: #efefef;
  transition: all 0.6s;
}
