.user-info-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 8px;
  align-items: center;
  height: 100%;
}

.user-info-wrapper.large {
  padding-left: 25px;
}

.user-info-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-info-pic.large {
  width: 55px;
  height: 55px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
}

.user-info-container.large {
  flex-direction: row;
  align-items: center;
}

.user-info-container .txt-date {
  font-size: 11px;
}

.user-info-container.large .txt-date {
  font-size: 14px;
  color: gray;
  padding-left: 12px;
}

.user-info-container .txt-fullname {
  font-size: 14px;
}
